<div class="main-form">
  <div class="inner-blocks">
    <h3>Available</h3>
    <svg width="400" height="320" id= "available"></svg>
    <h2>&nbsp;</h2>
    <h1>1</h1>
  </div>
  <div class="inner-blocks">
    <h3>John H</h3>
    <svg width="400" height="320" id="john"></svg>
    <h2>1:34:09</h2>
    <h1>2</h1>
  </div>
  <div class="inner-blocks">
    <h3>Complete</h3>
    <svg width="400" height="320" id="complete"></svg>
    <h2>0:00:00</h2>
    <h1>3</h1>

  </div>
  <div class="inner-blocks-wihout-border">
    <h3>Unavailable</h3>
    <svg width="400" height="320" id="unavailable"></svg>
    <h2>&nbsp;</h2>
    <h1>4</h1>

  </div>
</div>
