<div class="main-form">
  <div class="prev">
    <mat-icon routerLink="/setup-four" style="cursor: pointer;">keyboard_arrow_left</mat-icon>
  </div>
  <div class="main-info-form">
    <div class="bio-chip">
      <h4>Current Save Location</h4>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
          <input matInput [matKeyboard]="'en'" [darkTheme]="true">
        </mat-form-field>
      </form>
    </div>
    <div class="samaple-info">
      <h4>Additional Save Location</h4>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
          <input matInput [matKeyboard]="'en'" [darkTheme]="true">
        </mat-form-field>
      </form>
    </div>
    <div id="folder-icons" class="icons">
      <h3>&nbsp;</h3>
      <mat-icon>apps</mat-icon>
      <mat-icon style="margin-top: 30px;">folder</mat-icon>
    </div>
  </div>
  <div class="next">
    <mat-icon routerLink="/status" style="cursor: pointer;">keyboard_arrow_right</mat-icon>
  </div>
</div>
