<div class="main-form">
  <div class="next-prev">
    <div class="back-header img">
      <a routerLink="/setup-four" class="invisibleLink"></a>
    </div>
  </div>
  <div class="main-info-form">
    <div class="bio-chip">
      <h3>Current Save Location</h3>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
          <input matInput [matKeyboard] [darkTheme]="true">
        </mat-form-field>
      </form>
    </div>
    <div class="samaple-info">
      <h3>Additional Save Location</h3>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
          <input matInput [matKeyboard] [darkTheme]="true">
        </mat-form-field>
      </form>
    </div>
    <div id="folder-icons" class="icons">
      <h3>&nbsp;</h3>
      <img src="assets/Button-QR.png" alt="" class="img-folders">
      <img src="assets/Button-Upload.png" alt="" class="img-folders">
    </div>
  </div>
  <div class="next-prev">
    <div class="next-header img">
      <a routerLink="/status" class="invisibleLink"></a>
    </div>
  </div>
</div>
