
<div class="main-form">
  <div class="next-prev">
    <div class="next-prev-arrow">
      <mat-icon routerLink="/setup-two" style="cursor: pointer;">keyboard_arrow_left</mat-icon>
    </div>
  </div>
  <div class="main-info-form">
    <div class="inner-blocks">
      <h3>Scanning Sample</h3>
      <svg width="500" height="400"></svg>
    </div>
  </div>
  <div class="next-prev">
    <div class="next-prev-arrow">
      <mat-icon routerLink="/setup-four" style="cursor: pointer;">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>
