.main-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.next {
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  align-items: center;
  max-width: 40px;
  max-height: 80px;
  min-width: 40px;
  min-height: 80px;
  border-top-left-radius: 42px;
  border-bottom-left-radius: 42px;
  margin-top: auto;
  color: #ccc;
  /* vertical-align: middle; */
  border: 2px solid red;
  border-right: 0;
  background: #222;
}

.prev {
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  align-items: center;
  max-width: 40px;
  max-height: 80px;
  min-width: 40px;
  min-height: 80px;
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
  margin-top: auto;
  color: #ccc;
  /* vertical-align: middle; */
  border: 2px solid red;
  border-left: 0;
  background: #222;
}

.main-info-form {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 15px;
  align-items: center;
  justify-content: flex-start;
  color: #ccc;
}

.bio-chip {
  padding: 20px;
}
.sample-info {
  padding: 20px;
}
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #777 !important;
 }

 mat-form-field .mat-form-field-label {
   color: #777 !important;
 }

 input.mat-input-element {
  color: #777;
}
 .mat-form-field-underline {
  /*change color of underline*/
  background-color: #777 !important;
}

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: red !important;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

#folder-icons .mat-icon {
  border-radius: 50%;
  background: #222;
  fill: #222;
  border: 2px red solid;
  width: 40px;
  height: 40px;
  padding-top: 16px;
  padding-left: 16px;
}

.next .material-icons,
.prev .material-icons {
  font-size: 32px;
}

.prev .mat-icon {
  margin-left: -20px;
}
