<div class="main">
  <div class="next-prev">
    <div class="back-header img">
      <a routerLink="/home" class="invisibleLink"></a>
    </div>
  </div>
  <div class="main-info-form">
    <div class="bio-chip">
      <h3>Biochip Information</h3>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Profile Name</mat-label>
          <input matInput #biochipProfileRef (focus) = "onBiochipProfileFocus()">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Notes</mat-label>
          <input matInput #biochipNotesRef (focus) = "onBiochipNotesFocus()">
        </mat-form-field>
      </form>
    </div>
    <div class="samaple-info">
      <h3>Sample Information</h3>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Profile Name</mat-label>
          <input matInput #sampleProfileRef (focus) = "onSampleProfileFocus()">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Notes</mat-label>
          <input matInput #sampleNotesRef (focus) = "onSampleNotesFocus()">
        </mat-form-field>
      </form>
    </div>
    <div id="folder-icons" class="icons">
      <h3>&nbsp;</h3>
      <img src="assets/Button-QR.png" alt="" class="img-folders">
      <img src="assets/Button-Upload.png" alt="" class="img-folders">
    </div>
  </div>
  <div class="next-prev">
    <div class="next-header img">
      <a routerLink="/setup-two" class="invisibleLink"></a>
    </div>
  </div>
</div>


<!-- <div class="main-form">
  <div class="prev">
    <mat-icon routerLink="/settings" style="cursor: pointer;">keyboard_arrow_left</mat-icon>
  </div>
  <div class="main-info-form">
    <div class="bio-chip">
      <h4>Biochip Information</h4>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Profile Name</mat-label>
          <input matInput [matKeyboard] [darkTheme]="true">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Notes</mat-label>
          <input matInput [matKeyboard] [darkTheme]="true">
        </mat-form-field>
      </form>
    </div>
    <div class="samaple-info">
      <h4>Sample Information</h4>
      <form >
        <mat-form-field class="example-full-width">
          <mat-label>Profile Name</mat-label>
          <input matInput [matKeyboard] [darkTheme]="true">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Notes</mat-label>
          <input matInput [matKeyboard] [darkTheme]="true">
        </mat-form-field>
      </form>
    </div>
    <div id="folder-icons" class="icons">
      <h3>&nbsp;</h3>
      <mat-icon>apps</mat-icon>
      <mat-icon style="margin-top: 30px;">folder</mat-icon>
    </div>
  </div>
  <div class="next">
    <mat-icon routerLink="/setup-two" style="cursor: pointer;">keyboard_arrow_right</mat-icon>
  </div>
</div> -->
