.main-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.next-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 3%;
  width: 3%;
  color: #ccc;
  border: none;
  height: 400px;
}

.next-prev-arrow {
  padding: 10px;
  border: 1px solid #ccc;
}


.main-info-form {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  width: 80%;
  margin: 2rem auto;
  border-radius: 15px;
  align-items: center;
  justify-content: flex-start;
  color: #ccc;
}

.inner-blocks {
  margin: 10px;
  min-width: 30%;
  text-align: center;
}
.inner-block-top {
  height: 400px;
  border: 1px solid #ccc;
  width: auto;
}

.bio-chip {
  padding: 20px;
}
.sample-info {
  padding: 20px;
}
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #777 !important;
 }

 mat-form-field .mat-form-field-label {
   color: #777 !important;
 }

 input.mat-input-element {
  color: #777;
}
 .mat-form-field-underline {
  /*change color of underline*/
  background-color: #777 !important;
}

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: red !important;
}
