.main {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
}

.status {
  display: block;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  -moz-border-image: url("../../assets/Line88.png") 2 repeat;
  -webkit-border-image: url("../../assets/Line88.png") 2 repeat;
  -o-border-image: url("../../assets/Line88.png") 2 repeat;
  border-image: url("../../assets/Line88.png") 2 fill repeat;
  height: 300px;
  width: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.plus-button
{
  background-image: url("../../assets/Button-Plus.png");
  background-position: 50%, 50%;
  background-size:cover;
  transform: translateY(-171px);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
  background-color: black;
}

.status .path {
  margin: auto;
}

.status h1 {
  transform: translateY(-80px);
}

.status h1,
.status-last h1
 {
  text-decoration: underline;
}
.status-last {
  display: block;
  height: 300px;
  width: 25%;
}

