<div class="logo-small" style="margin-left: 10px;">
  <!-- <img src="assets/Logo-Small.png" alt=""> -->
  <h1>LOGO HERE</h1>
</div>
<div class="main">
  <div class="status">
    <h4>Available</h4>
    <svg width="90%" height="220px" id= "available" class="path"></svg>
    <h1>1</h1>
  </div>
  <div class="status">
    <h4>John H.</h4>
    <svg width="90%" height="220px" id= "john" class="path"></svg>
    <h1>2</h1>
  </div>
  <div class="status">
    <h4>Complete</h4>
    <svg width="90%" height="220px" id= "complete" class="path"></svg>
    <h1>3</h1>
  </div>
  <div class="status-last">
    <h4>Unavailable</h4>
    <svg width="90%" height="220px" id= "unavailable" class="path"></svg>
    <h1>4</h1>
  </div>
</div>
